:root{
	--pagetone:#38d39f;
	/* --oldtone:#5BC0DE; */
}

li{
	display: inline;
	margin-right: 50px;
	/* background-color: red;
	/* border-width: 5px; */
	/* font-style: bold; */
	padding-top:6px;
	padding-bottom: 10px;
}

li:hover{
	background-color:black;
	border-radius: 5px;
}

#logoimg{
	height: 70px;
	border-color: var(--pagetone);
	border-radius: 15px;
	border-style: solid;
	margin-left: 90px;
}

ul {
	display: inline-block;
	border-color: black;
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
	margin-left: 15%;
	margin-right: 10%;
	height: 40px;
	background-color: var(--pagetone);
	padding-top: 4px;

}

.mainNav{
	/* display: inline; */
	background-color: var(--pagetone);
	width: 70%;
}

.log-reg{
	width: 30%;
}

#loginlink, #reglink {
	text-decoration: none;
	font-weight: bold;
	color: white;
}

#reglink{
	color: black
}
#login-bt{
	background-color:  var(--pagetone);
}

#login-bt, #reg-bt{
margin-right: 50px;
border-radius: 5px;
border-style: none;
height: 40px;
padding-left: 20px;
padding-right: 20px;
}